<!doctype html>
<html lang="en" data-bs-theme="auto"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <script src="/js/color-modes.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/desktop.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="fill-title">? Panel</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="change-theme dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="/svg/theme_icons.svg#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="/svg/theme_icons.svg#sun-fill"></use></svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="/svg/theme_icons.svg#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="/svg/theme_icons.svg#moon-stars-fill"></use></svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="/svg/theme_icons.svg#check2"></use></svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="/svg/theme_icons.svg#circle-half"></use></svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="/svg/theme_icons.svg#check2"></use></svg>
            </button>
        </li>
    </ul>
</div>

<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
<!--    <ul class="navbar-nav flex-row d-md-none">-->
<!--        <li class="nav-item text-nowrap">-->
<!--            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <svg class="bi"><use xlink:href="#list"/></svg>-->
<!--            </button>-->
<!--        </li>-->
<!--    </ul>-->

    <a class="navbar-brand me-0 px-3 fs-6 text-white" href="#">
        <span class="fill-header-email fw-bold">***@**.**</span>
        <span class="fill-header-roles">with roles: ?, ?</span>
    </a>

    <a class="logout-label" th:href="@{/logout}">Logout</a>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="left-menu col-lg-2 col-md-2">
            <ul class="nav flex-column">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active"
                       aria-current="page"
                       th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       aria-current=""
                       th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            <h1 class="fill-title">? Panel</h1>

            <div id="alert-create-success"
                 class="alert alert-success mb-3"
                 role="alert">Success created new user with id: </div>
            <div id="alert-update-success"
                 class="alert alert-success mb-3"
                 role="alert">Success updated a user with id: </div>
            <div id="alert-delete-success"
                 class="alert alert-success mb-3"
                 role="alert">Success deleted a user with id: </div>

            <div class="about-user">
                <div class="frame">
                    <div class="header">About User</div>

                    <div class="content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Date Of Birth</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="fill-user-id">Id ?</td>
                                <td class="fill-user-name">Name ?</td>
                                <td class="fill-user-email">E-mail ?</td>
                                <td class="fill-user-phone">Phone Number ?</td>
                                <td class="fill-user-gender">Gender ?</td>
                                <td class="fill-user-bdate">Date Of Birth ?</td>
                                <td class="fill-user-roles">Roles ?</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')" class="admin-panel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                data-bs-toggle="tab"
                                data-bs-target="#users-table-tab-pane"
                                type="button" role="tab"
                                aria-controls="users-table-tab-pane">Users Table</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                data-bs-toggle="tab"
                                data-bs-target="#new-user-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="new-user-tab-pane">New User</button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div    class="tab-pane fade show active"
                            id="users-table-tab-pane"
                            role="tabpanel"
                            aria-labelledby="users-table-tab"
                            tabindex="0">

                        <div class="frame">
                            <div class="header">All Users</div>

                            <div class="content">
                                <table id="users-list" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Date Of Birth</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div    class="tab-pane fade"
                            id="new-user-tab-pane"
                            role="tabpanel"
                            aria-labelledby="new-user-tab"
                            tabindex="0">

                        <div class="frame">
                            <div class="header">Add New User</div>

                            <div class="form-user content">
                                <div id="alert-create-failed" class="alert alert-danger mb-4" role="alert">
                                    Failed to create a new user!
                                </div>

                                <div class="d-flex justify-content-center">
                                    <div class="form-user-column col-lg-3">
                                        <form id="form-create-user">
                                            <div class="flex-column d-flex align-items-center">
                                                <div class="mb-4 flex-column d-flex align-items-center w-100">
                                                    <label class="form-label" for="create-user-name">Name</label>
                                                    <input class="form-control" type="text" id="create-user-name" />
                                                </div>

                                                <div class="mb-4 flex-column d-flex align-items-center w-100">
                                                    <label class="form-label" for="create-user-email">E-mail</label>
                                                    <input class="form-control" type="text" id="create-user-email" />
                                                </div>

                                                <div class="mb-4 flex-column d-flex align-items-center w-100">
                                                    <label class="form-label" for="create-user-phone">Phone Number</label>
                                                    <input class="form-control" type="text" id="create-user-phone" />
                                                </div>

                                                <div class="mb-4 flex-column d-flex align-items-center w-100">
                                                    <label class="form-label" for="create-user-gender">Gender </label>
                                                    <select class="form-select" id="create-user-gender">
                                                        <option value="NOT_DEFINED" selected>Not Defined</option>
                                                        <option value="MALE"                >Male</option>
                                                        <option value="FEMALE"              >Female</option>
                                                    </select>
                                                </div>

                                                <div class="mb-4 flex-column d-flex align-items-center w-100">
                                                    <label class="form-label" for="create-user-bdate">Date of Birth</label>
                                                    <input class="form-control"
                                                           type="date"
                                                           id="create-user-bdate"
                                                           min="1900-01-01"
                                                           max="2012-12-31" />
                                                </div>

                                                <div class="mb-4 flex-column d-flex align-items-center w-100">
                                                    <label class="form-label" for="create-user-password">Password</label>
                                                    <input class="form-control" type="password" id="create-user-password" />
                                                </div>

                                                <div class="mb-4 flex-column d-flex align-items-center w-100">
                                                    <label class="form-label" for="roles">Roles</label>
                                                    <select class="form-select" name="selectedRole" id="roles">
                                                        <option value="ROLE_USER" selected>User </option>
                                                        <option value="ROLE_ADMIN"        >Admin</option>
                                                    </select>
                                                </div>

                                                <input id="btn-create-user"
                                                       class="btn-add btn btn-success py-2 px-3"
                                                       type="submit"
                                                       value="Add New User" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div    sec:authorize="hasRole('ROLE_ADMIN')"
        class="modal fade" id="edit-user-modal" tabindex="-1" aria-labelledby="edit-user-title" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="edit-user-title" class="modal-title fs-5">Edit User</h1>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-user flex-column">
                    <div id="alert-update-error" class="alert alert-danger mb-3" role="alert">
                        Failed update the user!
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="col-lg-5">
                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-id">ID</label>
                                <input class="form-control" type="text" id="edit-user-id" disabled/>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-name">Name</label>
                                <input class="form-control" type="text" id="edit-user-name" />
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-email">E-mail</label>
                                <input class="form-control" type="text" id="edit-user-email" />
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-phone">Phone Number</label>
                                <input class="form-control" type="text" id="edit-user-phone"/>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-gender">Gender </label>
                                <select class="form-select" id="edit-user-gender">
                                    <option value="NOT_DEFINED" selected>Not Defined</option>
                                    <option value="MALE"                >Male</option>
                                    <option value="FEMALE"              >Female</option>
                                </select>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-bdate">Date of Birth</label>
                                <input class="form-control"
                                       type="date"
                                       id="edit-user-bdate"
                                       min="1900-01-01"
                                       max="2012-12-31" />
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-password">Password</label>
                                <input class="form-control" type="password" id="edit-user-password" />
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="edit-user-role">Roles</label>
                                <select class="form-select" id="edit-user-role">
                                    <option value="ROLE_USER" selected>User </option>
                                    <option value="ROLE_ADMIN"        >Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                <input id="btn-edit-user" type="submit" class="btn btn-primary" value="Edit" />
            </div>

        </div>
    </div>
</div>

<div    sec:authorize="hasRole('ROLE_ADMIN')"
        class="modal fade" id="delete-user-modal" tabindex="-1" aria-labelledby="delete-user-title" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="delete-user-title" class="modal-title fs-5">Delete User</h1>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-user flex-column">
                    <div id="alert-delete-error" class="alert alert-danger mb-3" role="alert">
                        Failed delete the user!
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="col-lg-5">
                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="delete-user-id">ID</label>
                                <input class="form-control" type="text" id="delete-user-id" disabled/>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="delete-user-name">Name</label>
                                <input class="form-control" type="text" id="delete-user-name"  disabled/>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="delete-user-email">E-mail</label>
                                <input class="form-control" type="text" id="delete-user-email" disabled/>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="delete-user-phone">Phone Number</label>
                                <input class="form-control" type="text" id="delete-user-phone" disabled/>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="delete-user-gender">Gender </label>
                                <select class="form-select" id="delete-user-gender" disabled>
                                    <option value="NOT_DEFINED" selected>Not Defined</option>
                                    <option value="MALE"                >Male</option>
                                    <option value="FEMALE"              >Female</option>
                                </select>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="delete-user-bdate">Date of Birth</label>
                                <input class="form-control"
                                       type="date"
                                       id="delete-user-bdate"
                                       min="1900-01-01"
                                       max="2012-12-31" disabled/>
                            </div>

                            <div class="mb-4 flex-column d-flex align-items-center w-100">
                                <label class="form-label" for="delete-user-role">Role</label>
                                <select class="form-select" id="delete-user-role" disabled>
                                    <option value="ROLE_USER" selected>User </option>
                                    <option value="ROLE_ADMIN"        >Admin</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                <input id="btn-delete-user" type="submit" class="btn btn-danger" value="Delete" />
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
