<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<h3 th:text="${'ID: ' + user.getId()}">id</h3>
<p th:if="${param.error}" class="error">Update failed!</p>

<form th:action="@{/admin/edit}" th:method="put" th:object="${user}">
    <input type="hidden" th:value="${user.getId()}" th:field="*{id}" />

    <h4>Base data:</h4>

    <label for="email">E-mail</label>:
    <input type="text" id="email" th:value="${user.getEmail()}" th:field="*{email}" />
    <br />

    <label for="phone">Phone Number</label>:
    <input type="text" id="phone" th:value="${user.getPhoneNumber()}" th:field="*{phoneNumber}" />
    <br />

    <label for="name">Name</label>:
    <input type="text" id="name" th:value="${user.getName()}" th:field="*{name}" />
    <br />

    <label for="gender">Gender </label>:
    <select id="gender" th:field="*{gender}">
        <option value="NOT_DEFINED" th:selected="${user.getGender().toString().equals('NOT_DEFINED')}">Not Defined</option>
        <option value="MALE" th:selected="${user.getGender().toString().equals('MALE')}">Male</option>
        <option value="FEMALE" th:selected="${user.getGender().toString().equals('FEMALE')}">Female</option>
    </select>
    <br />

    <label for="date-of-birth">Date of Birth</label>:
    <input type="date"
           id="date-of-birth"
           min="1900-01-01"
           max="2012-12-31"
           th:value="${user.getDateOfBirth()}"
           th:field="*{dateOfBirth}" />
    <br />

    <label for="roles">Roles</label>:
    <input type="checkbox"
           id="roles"
           th:each="role : ${allRoles}"
           th:checked="${role.isRequired() || user.getRoles().contains(role)}"
           th:disabled="${role.isRequired()}"
           th:value="${role.getId()}"
           th:text="${role.getViewText()}"
           name="selectedRoles" />
    <br />
    <br />

    <input type="submit" value="Save" />
    <br />
    <br />
</form>

<p th:if="${param.password_error}" class="error">The password could not be updated!</p>
<form th:method="put" th:action="@{/admin/edit-password}">
    <input type="hidden" name="id" th:value="${user.getId()}" />

    <h4>Password data:</h4>

    <label for="password">New Password</label>:
    <input type="password" id="password" name="password" />
    <br />
    <br />

    <input type="submit" value="Save" />
</form>

<p>
    <a th:href="@{/admin}">Go back to the list of users</a>
</p>

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout" />
</form>
</body>
</html>