<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }

        th {
            background-color: #868686;
        }

        td {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<table style="border-width: 2px">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone Number</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getPhoneNumber()}">phone</td>
        <td th:text="${user.getGender().getText()}">gender</td>
        <td th:text="${#dates.format(user.getDateOfBirth(), 'MM/dd/yyyy')}">birth</td>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <a th:text="${role.getViewText()}">role</a><br/>
            </div>
        </td>
        <td>
            <form method="get" th:action="@{'/admin/edit/' + ${user.getId()}}">
                <input type="submit" value="Edit" />
            </form>
            <form th:method="delete" th:action="@{'/admin/delete/' + ${user.getId()}}">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
</table>

<p>
    <a th:href="@{/admin/create}">Create a new user</a>
</p>

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout" />
</form>
</body>
</html>